<html>
    <body>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            function select_img(img_name) {
                document.getElementById("select_img").src = "static/" + img_name
            }
            function update_range(thresh_type, value){
                var xhr = new XMLHttpRequest()
                xhr.open("POST", "/gen-canny-img", false)
                xhr.setRequestHeader('Content-type', 'application/json');
                xhr.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200){
                        document.getElementById("canny_img").src = "static/__canny_temp.png?" + new Date().getTime()
                        document.getElementById("display_" + thresh_type + "_thresh").value = value
                    }
                }
                xhr.send(JSON.stringify({
                    "img_name": document.getElementById("select_img").src,
                    "lower_thresh": document.getElementById("lower_thresh").value,
                    "upper_thresh": document.getElementById("upper_thresh").value
                }))
            }
        </script>

        <h1>Library</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="new_img">
            <input type="submit" value="Upload">
        </form>
        <div></div>
        <div style="overflow-y:auto">
            <table>
                <tbody>
                    {% for row in images %}
                        <tr>
                            {% for img in row %}
                                <td>
                                    <div>
                                        <img id="gallery" src="static/{{img}}" onclick="select_img('{{img}}')" style="width:100px">
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <br>

        <h1>Edit Image</h1>
        <div>
            <div style="display: inline-block">
                <p>Selected Image</p>
                <img id="select_img" style="width:5in">
            </div>
            <div style="display: inline-block">
                <p>Canny Image</p>
                <img id="canny_img" style="width:5in">
            </div>
        </div>
        <div>
            <div style="display: inline-block">
                <p>Lower Threshold</p>
                <input id="lower_thresh" type="range" min="0" max="255" value="0" oninput="update_range('lower', this.value)">
                <output id="display_lower_thresh">0</output>
            </div>
            <div style="display: inline-block">
                <p>Upper Threshold</p>
                <input id="upper_thresh" type="range" min="0" max="255" value="0" oninput="update_range('upper', this.value)">
                <output id="display_upper_thresh">0</output>
            </div>
            <div style="display: inline-block">
                <button onclick="{{ url_for('submit_job') }}">
            </div>
        </div>
    </body>
</html>
